:root {

  --yellow-60: hsl(38, 100%, 60%);
  --gray-65: hsl(0deg 0% 65%);
  --gray-90: hsl(0, 0%, 90%);
  --gray-95: hsl(0, 0%, 95%);

}

* {

  font-family: "Traditional Arabic" !important;

}

html {

  font-size: 12px;
  scroll-behavior: smooth;

}

body {

  background-color: var(--gray-95);

}

.figure {

  direction: ltr;

}

section#main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 0%, 0.6)), url("/assets/images/cairo-overview.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  box-sizing: border-box;
  
  .figure#main {
    width: 75vw;
  }

  nav {

    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;

    li {


      display: inline;
      font-size: 5vw;
      margin-inline: 0.5em;

      a {

        text-decoration: none;
        color: white;

      }

    }

  }
  
}

section#about-me {

  display: flex;
  align-items: center;
  padding: 3rem;
  flex-direction: column;
  gap: 3.5rem;

  .figure {

    width: 75vw;
    
  }

  p {

    
    text-align: justify;
    font-size: 2rem;
    
  }

  ul {

    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    min-height: 30ch;
    align-content: center;
    justify-content: space-around;

    @media (width >= 768px) {

      min-height: 45vmin;
      
    }

    @media (width >= 1440px) {

      min-height: 85vmin;

    }

    &:before {
      content: attr(data-title);
      
      position: absolute;
      font-size: 35vw;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: var(--gray-90);
      z-index: -1;
    }

    figure {

      display: flex;
      margin-block: 1em;
      gap: 1em;
      align-items: center;
      margin: 0;
      font-size: 2vw;

      img {

        height: 10vw;

      }

      figcaption {

        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        
        gap: 1em;

      }

    }

  }

  @media (width >= 768px) {

    p {
      width: 55vw;
    }

  }

  @media (width >= 1024px) {

    p {
      font-size: 3rem;
    }

    .figure {
      width: 60vw;
    }

  }

}

section#my-works {
  
  header {
    
    display: flex;
    align-items: center;
    gap: 2.5rem;
    width: 85vw;
    margin: 1rem auto;
    flex-direction: column;
    
    &:before {
  
      content: "";
      border-radius: 1px;
      border: 2px solid var(--gray-90);
      background-color: var(--gray-90);
      align-self: stretch;
  
    }

    .figure {
  
      order: -1;
      height: fit-content;
      text-align: justify;
      width: 80vw;
    
    }
  
    p {
  
      
      font-size: 2rem;
      text-align: justify;
  
    }

    @media screen and ( width >= 768px ) {

      flex-direction: row;

      .figure {

        width: 110vw;

      }

    }

  }

  .library {

    --gap: 3em;
    --dispersion-rate: 90px;
    
    display: flex;
    justify-content: center;
    gap: var(--gap);
    height: 100vh;
    align-items: center;
    position: relative;
    overflow: hidden;
    font-size: 0.55rem;
    perspective: 1000px;

    &__viewport-indicator {

      position: absolute;
      width: 95vw;
      height: 95vh;
      margin-top: -15px;
      pointer-events: none;

    }

    &__shade {

      position: absolute;
      list-style-type: none;
      background-color: var(--gray-90);
      z-index: -2;
      border-radius: 10px;
      height: 90%;
      top: 0;
      overflow: hidden;

      span {

        width: 100%;
        height: 15%;
        display: block;
        background-color: var(--gray-95);
    
      }

      &:nth-of-type(odd) {
        
        opacity: 0.random(1, 5, {round: true});
        background-color: var(--yellow-60);
        
      }

      @for $i from 1 to 10 {
        
        &:nth-of-type($i) {
          
          width: 0.random(0, 4, {round: true})rem;
          transform: rotateZ(45deg) translate(calc( ( ( $(i) - 1 ) * 90px ) + -150px ), 40px) scaleY(0.8);

        }

      }

    }

    &__title {

      --distance-ratio: 1;
      position: absolute;
      
      font-size: 12.5rem;
      color: var(--gray-90);
      z-index: -1;
      width: max-content;
      overflow: hidden;

      &:nth-of-type(1) {

        transform:
          translateX( calc( var(--distance-ratio) * 0.5em ) )
          translateY( calc( var(--distance-ratio) * -2em ) );

      }

      &:nth-of-type(2) {

        transform:
          translateX( calc( var(--distance-ratio) * -1em ) )
          translateY( calc( var(--distance-ratio) * -1em ) );

      }

      &:nth-of-type(3) {

        transform:
          translateX( calc( var(--distance-ratio) * 2em ) )
          translateY( calc( var(--distance-ratio) * -0.75em ) );

      }

      &:nth-of-type(4) {

        transform:
          translateX( calc( var(--distance-ratio) * 0em ) )
          translateY( calc( var(--distance-ratio) * 1.5em ) );

      }

      & > span {
        display: block;          
      }

    }

    &__shelf:nth-of-type(1) {

      display: flex;
      align-items: center;

    }

    &__shelf:nth-of-type(2) {

      margin-top: calc( var(--dispersion-rate) * -1 );

    }

    &__shelf:nth-of-type(4) {

      margin-top: var(--dispersion-rate);

    }

    &__shelf:nth-of-type(1), &__shelf:nth-of-type(4) {

      display: none

    }

    @media screen and (width >= 768px) {
      
      &__shelf:nth-of-type(1), &__shelf:nth-of-type(4) {

        display: flex;
  
      }

    }


    .book {

      margin-block: var(--gap);
      overflow: hidden;
      border-radius: 5px;

      &__thumbnail {

        width: 20em;
        display: block;

      }

    }

  }

  .inspector {

    display: none;
    width: 90vw;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    align-items: center;
    justify-content: center;

    @media ( width >= 768px ) {

      width: 50vw;

    }

    @media ( width >= 1440px ) {

      transform-style: flat;
      
    }

    &--open {

      display: flex;

    }

    &__info {

      flex-grow: 1;
      
      padding-inline: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 2em;
      width: 100%;
      box-sizing: border-box;
      backface-visibility: hidden;
      transform: rotateY(180deg);
      position: absolute;

      @media ( width >= 1440px ) {

        transform: unset;
        position: static;
        
      }

    }

    &__title {

      font-size: 5rem;
      word-break: break-word;
      font-weight: bold;
      overflow: hidden;

      span {

        display: block;

      }

    }

    &__paragraph {

      font-size: 2rem;
      text-align: justify;
      overflow: hidden;

      span { 

        display: block;

      }

    }

    &__thumbnail {

      overflow: hidden;
      position: absolute;
      width: min(100%, 45vh);
      backface-visibility: hidden;

      @media ( width >= 768px ) {

        width: min(100%, 35vh);

      }

      @media ( width >= 1440px ) {

        transform: unset;
        backface-visibility: visible;
        position: static;
        
      }

      img {

        width: 100%;

      }

    }

  }

}

section#contact-me {

  height: 100vh;
  padding-inline: 4.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  
  @media screen and (width >= 768px) {
    
    flex-wrap: wrap;

  }

  @media screen and (width >= 1280px) {

    width: 50vw;
    margin: auto;

  }

  header {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 25em;
    margin-block: 6.5rem;
    position: relative;
    align-self: center;

    @media screen and (width >= 768px) {

      align-self: auto;

    }

    .background {

      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: -1;

      &__shade {

        
        font-size: 4.5rem;
        color: var(--gray-90);
        position: absolute;

        &:nth-child(1) {

          transform: translate(65px, 135px);

        }

        &:nth-child(2) {

          transform: translate(120px, 45px);

        }

        &:nth-child(3) {

          transform: translate(-120px, 10px);

        }

        &:nth-child(4) {

          transform: translate(35px, -90px);

        }

      }

    }

    span {
  
      --distance: 95px;
      
      font-size: 10rem;
      display: block;

      &:after {
        content: "";
        position: relative;
        z-index: -1;
        width: 100%;
        height: 5px;
        background-color: var(--yellow-60);
        display: block;
        margin-top: -25px;
        transform: scaleX(1.2);
      }

      &:nth-of-type(1) {

        margin-left: var(--distance);

      }

      &:nth-of-type(2) {

        margin-right: var(--distance);

      }
  
    }

  }

  .social-links {

    a {

      
      font-size: 8rem;
      text-decoration: none;
      color: var(--gray-65);
      position: relative;
      display: flex;
      align-items: end;
      width: max-content;

      &:before {

        content: "";
        width: 120%;
        height: 0.35em;
        display: block;
        position: absolute;
        z-index: -1;
        background-color: var(--gray-90);
        margin-bottom: 0.20em;

      }

    }

  }

  .picture {

    position: absolute;
    left: 1em;
    bottom: 1em;
    filter: grayscale(1);
    opacity: 0.25;
    margin-block: auto;
    width: 25vh;
    z-index: -5;

    @media screen and ( width >= 768px ) {
      
      position: static;
      filter: unset;
      opacity: 1;
      width: 50vw;

    }

    @media screen and ( width >= 1280px ) {

      width: 30vw;

    }

    img {

      width: 100%;

    }

  }


}