:root {

  --yellow-60: hsl(38, 100%, 60%);

}

.figure {

  direction: ltr;

}

section#main {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, hsla(0, 0%, 0%, 0.6), hsla(0, 0%, 0%, 0.6)), url("/assets/images/cairo-overview.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  .figure#main {
    width: 75vw;
  }

  nav {

    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;

    li {

      font-family: "Traditional Arabic";
      display: inline;
      font-size: 5vw;
      margin-inline: 0.5em;

      a {

        text-decoration: none;
        color: white;

      }

    }

  }
  
}